{% extends "base_farmerPage.html" %}
{% block title %} Orders {% endblock %}
{% block head %}
{{ super() }}
<style>
    .column {
        float: left;
        padding: 8px 15px;
        min-height: 65vh;
        overflow: auto;
    }

    .column.side {
        background-color: #c6cec0;
        width: 20%;
        border: 2px solid #c6cec0;
    }

    .column.main {
        background-color: gainsboro;
        width: 75%;
    }

    h2 {
        font-size: 18px;
        background-color: inherit;
    }

    .side label {
        padding: 8px 10px;
        background-color: inherit;
    }

    .status {
        float: left;
        display: block;
    }

    .num {
        float: right;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
        min-width: 100%;
    }

    table.center, th, td {
        padding: 5px 15px 5px 15px;
        border: 1px solid #5e5e5e;
        border-collapse: collapse;
        text-align: center;
    }

    tr td button {
        display: block;
        width: 110px;
        padding: 3px 5px;
        cursor: pointer;
        border-radius: 5px;
        margin: 4px auto 2px auto;
    }

    button:hover {
        background-color: darkslategray;
        color: white;
    }

    tr th {
        background-color: #b7b7b7;
    }

    .material-symbols-outlined {
        cursor: pointer;
    }

    /*showing details in order*/
    #order_info {
        overflow: auto;
        padding: 10px 13px;
        margin-top: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: none;
    }

    .container {
        display: flex;
        border: 1px solid #d4d7c4;
        /*height: 130px;*/
        background-color: #e6e8dc;
    }

    .row {
        margin: 5px -5px;
    }

    .col {
        float: left;
        width: 49%;
    }

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .pTitle {
        margin: 5px 10px;
        background-color: inherit;
    }

    .pTitle label {
        background-color: inherit;
    }

    .pTitle p {
        background-color: inherit;
    }

    section {
        justify-content: center;
        display: flex;
    }
</style>
{% endblock %}
{% block header_name %}
<input type="button" id="farmermarket" class="fbutton" value="Farmer Market - Orders">
{% endblock %}
{% block content1 %}
<button class="text_bnt" id="product" onclick="product()">Product</button>
<button class="text_bnt" id="orders" onclick="order()">Orders</button>
{% endblock %}
{% block content2 %}
<section>
    <div class="column side">
        <h2>Your Orders</h2>
        <label class="status">Pending</label>
        <label class="num">pending_num</label><br>
        <label class="status">Unshipped</label>
        <label class="num">unshipped_num</label><br>
        <label class="status">Shipped</label>
        <label class="num">shipped_num</label><br>
    </div>

    <div class="column main">
        <table class="center">
            <tr>
                <th>No.</th>
                <th>Order Date</th>
                <th>Order ID</th>
                <th>Shippment</th>
                <th>Status</th>
                <th>Items</th>
                <th>Price</th>
                <th>Action</th>
                <th></th>
            </tr>
            <tr>
                <td>{{i}}</td>
                <td>Dec 02, 2022</td>
                <td>123456789</td>
                <td>Standard</td>
                <td>pending</td>
                <td>5</td>
                <td>$24</td>
                <td>
                    <button>Confirm Order</button>
                    <button>Cancel Order</button>
                </td>
                <td>
                    <span class="material-symbols-outlined" onclick="showOrder()">expand_more</span>
                </td>
            </tr>
            {% if purchase_record %}
            {% for i in range(size) %}
            <tr>
                <td>{{i}}</td>
                <td>Dec 02, 2022</td>
                <td>123456789</td>
                <td>Standard</td>
                <td>pending</td>
                <td>5</td>
                <td>$24</td>
                <td>
                    <button>Confirm Order</button>
                    <button>Cancel Order</button>
                </td>
                <td>
                    <span class="material-symbols-outlined" onclick="showOrder()">expand_more</span>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>

        <div id="order_info">
            <div class="row">
                <div class="col">
                    <div class="container">
                        <div class="image">
                            <img src="/static/welcome.jpg" alt="welcome" style="height: 100px">
                        </div>
                        <div class="pTitle">
                            <label>Product Name</label>
                            <p>Product Information</p>
                        </div>
                        <div class="pTitle">
                            <label>Quantity</label>
                            <p>5</p>
                        </div>
                        <div class="pTitle">
                            <label>Price</label>
                            <p>$24</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function showOrder() {
        var x = document.getElementById("order_info");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function product() {
        window.location.href = "http://127.0.0.1:5000/farmer/list";
    }

    function order() {
        window.location.href = "http://127.0.0.1:5000/farmer/order";
    }
</script>
{% endblock %}
